.Home-container{
    display: flex;
}

.admin-panel{
    background-color:darkorange;
    width: 25%;
}

.rspl-heading{
    color: #399057;
    font-size: 21px;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
}
.admin-name{
    font-size: 14px;
    text-align: center;
}

.super-admin{
    color: 399057;
    font-size: 10px;
    text-align: center;
}

.panel-links{
    text-align: center;
}